<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ua.miratech.zhukov.dao.BookDAO">

    <resultMap id="bookMap" type="ua.miratech.zhukov.dto.Book">
        <id column="BOOK_ID" property="id" />
        <result column="AUTHOR" property="author" />
        <result column="TITLE" property="title" />
        <result column="PUB_DATE" property="publicationDate" />
        <result column="FILE_NAME" property="fileName" />
        <result column="BOOK_SIZE" property="size" javaType="java.lang.Long" />
        <result column="PATH" property="path" />
        <result column="SHA1" property="sha1" />
        <result column="EMAIL" property="owner" />
        <result column="LANGUAGE_NAME" property="language" />
        <result column="BOOK_TYPE_NAME" property="extension" />
        <result column="ANNOTATION" property="annotation" />
        <result column="ISBN" property="isbn" />
        <result column="SHARED_TYPE_NAME" property="sharedType" />
        <collection column="GENRE_NAME" property="genres" javaType="ArrayList" ofType="String"/>
    </resultMap>

    <select id="getMyBooks" resultMap="bookMap">
        SELECT
          GENRE_NAME,
          BOOK_ID,
          AUTHOR,
          TITLE,
          PUB_DATE,
          FILE_NAME,
          BOOK_SIZE,
          PATH,
          SHA1,
          EMAIL,
          LANGUAGE_NAME,
          BOOK_TYPE_NAME,
          ANNOTATION,
          ISBN,
          SHARED_TYPE_NAME
        FROM
          BOOKS
        INNER JOIN
          USERS
            ON BOOKS.ID_OWNER = USERS.USER_ID
        INNER JOIN
          LANGUAGES
            ON BOOKS.ID_LANG = LANGUAGES.LANGUAGE_ID
        INNER JOIN
          BOOK_TYPES
            ON BOOKS.ID_BOOK_TYPE = BOOK_TYPES.BOOK_TYPE_ID
        INNER JOIN
          SHARED_TYPES
            ON BOOKS.ID_SHARED_TYPE = SHARED_TYPES.SHARED_TYPE_ID
        INNER JOIN
          BOOKS_GENRES
            ON BOOKS.BOOK_ID = BOOKS_GENRES.BOOK_ID
        INNER JOIN
          GENRES
            ON BOOKS_GENRES.GENRE_ID = GENRES.GENRE_ID
        WHERE
          EMAIL = #{userEmail}
        ORDER BY BOOKS.PUB_DATE ${orderBy}
    </select>

    <select id="getBookById" resultMap="bookMap">
        SELECT
          BOOK_ID,
          AUTHOR,
          TITLE,
          PUB_DATE,
          FILE_NAME,
          BOOK_SIZE,
          PATH,
          SHA1,
          EMAIL,
          LANGUAGE_NAME,
          BOOK_TYPE_NAME,
          ANNOTATION,
          ISBN,
          SHARED_TYPE_NAME
        FROM
          BOOKS
        INNER JOIN
          USERS
            ON BOOKS.ID_OWNER = USERS.USER_ID
        INNER JOIN
          LANGUAGES
            ON BOOKS.ID_LANG = LANGUAGES.LANGUAGE_ID
        INNER JOIN
          BOOK_TYPES
            ON BOOKS.ID_BOOK_TYPE = BOOK_TYPES.BOOK_TYPE_ID
        INNER JOIN
          SHARED_TYPES
            ON BOOKS.ID_SHARED_TYPE = SHARED_TYPES.SHARED_TYPE_ID
        WHERE
          BOOK_ID = #{id}
    </select>

    <select id="addBook" parameterType="ua.miratech.zhukov.dto.Book" statementType="CALLABLE">
        {#{id,javaType=Long,jdbcType=NUMERIC,mode=OUT} = call  INSERT_BOOK(
             #{author}
            ,#{title}
            ,#{publicationDate}
            ,#{fileName}
            ,#{size,javaType=LONG}
            ,#{path}
            ,#{sha1}
            ,#{owner}
            ,#{language}
            ,#{extension}
            ,#{annotation}
            ,#{isbn}
            ,#{sharedType}
          )
       }
    </select>

    <select id="addGenre" parameterType="ua.miratech.zhukov.dto.Book" statementType="CALLABLE">
      INSERT INTO BOOKS_GENRES (BOOK_ID, GENRE_ID) VALUES (#{userId}, GET_GENRE_ID_BY_NAME(#{genreName}))
    </select>



</mapper>