<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ua.miratech.zhukov.dao.JobDAO">

    <resultMap id="jobMap" type="ua.miratech.zhukov.dto.Job">
        <id column="JOB_ID" property="id" />
        <result column="JOB_COMMENT" property="comment" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
    </resultMap>

    <select id="getJob" resultMap="jobMap">
        SELECT
          JOB_ID, JOB_COMMENT, START_TIME, END_TIME
        FROM
          JOBS
        INNER JOIN
          USERS
            ON JOBS.USER_ID = USERS.USER_ID
        WHERE
          EMAIL = #{userEmail}
        ORDER BY JOB_ID DESC
    </select>
    
    <insert id="insertJob" parameterType="ua.miratech.zhukov.dto.Job" useGeneratedKeys="true" keyProperty="id" keyColumn="JOB_ID" >
        INSERT INTO JOBS (USER_ID, JOB_COMMENT, START_TIME) VALUES (
            (SELECT USER_ID FROM USERS WHERE EMAIL = #{userEmail})
          , #{comment}
          , #{startTime}
        )

    </insert>

    <update id="updateEndTime">
        UPDATE JOBS SET END_TIME = #{endTime} WHERE JOB_ID = #{jobId}
    </update>

</mapper>