<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <!--<bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">-->
        <!--<property name="dataSourceName" value="ds"/>-->
        <!--<property name="URL" value="jdbc:oracle:thin:@192.168.56.101:1521:xe"/>-->
        <!--<property name="user" value="riaval"/>-->
        <!--<property name="password" value="kjcm35"/>-->
    <!--</bean>-->

    <!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" >-->
        <!--<property name="jndiName" value="java:/OracleDSJNDI" />-->
    <!--</bean>-->

    <jee:jndi-lookup id="dataSource" jndi-name="java:/OracleDSJNDI" expected-type="javax.sql.DataSource" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="/WEB-INF/mybatis-config.xml" />
    </bean>

    <bean id="userDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="ua.miratech.zhukov.dao.UserDAO" />
    </bean>

</beans>