<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/mybooks*" access="hasRole('ROLE_USER')" />
        <form-login login-page="/login" default-target-url="/search"
                    authentication-failure-url="/login" />
        <logout logout-success-url="/" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt" />
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="
		      SELECT EMAIL AS USERNAME, PASSWORD, 1 AS ENABLED
		      FROM USERS WHERE EMAIL = ?"

                               authorities-by-username-query="
                SELECT
                  EMAIL AS USERNAME, ROLE_NAME as AUTHORITY
                FROM
                  USERS
                INNER JOIN
                  ROLES
                    ON USERS.ROLE_ID = ROLES.ROLE_ID
                WHERE
                  EMAIL = ?"
                    />
        </authentication-provider>
    </authentication-manager>

</beans:beans>

