<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ua.miratech.zhukov.mapper.UserMapper">

    <resultMap id="userMap" type="ua.miratech.zhukov.dto.UserOut">
        <id column="USER_ID" property="id"/>
        <result column="EMAIL" property="email"/>
        <result column="FIRST_NAME" property="firstName"/>
        <result column="LAST_NAME" property="lastName"/>
        <result column="REGISTRATION_DATE" property="registrationDate"/>
        <result column="ROLE_NAME" property="role"/>
    </resultMap>

    <select id="findAll" resultMap="userMap">
        SELECT
            USER_ID, EMAIL, FIRST_NAME, LAST_NAME, REGISTRATION_DATE, ROLE_NAME
        FROM
          USERS u1
        INNER JOIN
          ROLES r1
            ON u1.ROLE_ID = r1.ROLE_ID
    </select>

    <select id="getUserByEmail" resultMap="userMap">
        SELECT
            USER_ID, EMAIL, FIRST_NAME, LAST_NAME, REGISTRATION_DATE, ROLE_NAME
        FROM
          USERS u1
        INNER JOIN
          ROLES r1
            ON u1.ROLE_ID = r1.ROLE_ID
        WHERE EMAIL = #{email}
    </select>

    <select id="getUserWithSharedBooks" resultMap="userMap">
        SELECT
          USER_ID, EMAIL, FIRST_NAME, LAST_NAME, REGISTRATION_DATE, ROLE_NAME
        FROM
          SHARED
        INNER JOIN
          USERS
            ON SHARED.ID_GRANTEE = USERS.USER_ID
        INNER JOIN
          ROLES
            ON USERS.ROLE_ID = ROLES.ROLE_ID
        WHERE
          ID_BOOK = #{bookId}
            AND
          ID_OWNER = (SELECT USER_ID FROM USERS WHERE EMAIL = #{userEmail})
    </select>

    <insert id="createNewUser" parameterType="ua.miratech.zhukov.dto.UserInsert" useGeneratedKeys="true" keyProperty="id" keyColumn="USER_ID" >
        INSERT INTO USERS (
              EMAIL
            , PASSWORD
            , FIRST_NAME
            , LAST_NAME
            , REGISTRATION_DATE
            , ROLE_ID
        ) VALUES (
              #{email}
            , #{password}
            , #{firstName}
            , #{lastName}
            , #{registrationDate}
            , (SELECT ROLE_ID FROM ROLES WHERE ROLE_NAME = #{role})
        )

    </insert>

    <update id="updateName">
        UPDATE
          USERS SET FIRST_NAME = #{firstName}, LAST_NAME = #{lastName}
        WHERE
          EMAIL = #{userEmail}
    </update>

    <update id="updateFull">
        UPDATE
          USERS SET FIRST_NAME = #{firstName}, LAST_NAME = #{lastName}, PASSWORD = #{password}
        WHERE
          EMAIL = #{userEmail}
    </update>

</mapper>